.home_header .home_nav {
  background-color: #2b2b2b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}
.home_header .home_nav .home_list {
  display: flex;
  column-gap: 50px;
  align-items: center;
}
.home_header .home_nav .hamburger {
  display: none;
}
.home_header .home_nav .home_list .home_item .home_link {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}
.home_header .home_nav .home_list .nav_btn {
  display: flex;
  column-gap: 12px;
  align-items: center;
  padding: 19px 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  border-radius: 20px;
  background-color: #a259ff;
  border: none;
}
.home_header .home_nav .home_list .nav_btn img {
  width: 20px;
  height: 20px;
}

.main_section .main_container .container_row .placeholder {
  position: relative;
}

.main_section {
  background: #2b2b2b;
}

.main_section .main_container .container_row .placeholder .placeholder_avater {
  margin-top: -60px;
  margin-left: 110px;
  background: url(Keemun_man_avatar_2d_colorful_illustration_f9463786-5b0e-41d9-bbe1-e3fba5ab0a75.png);
  border-radius: 20px;
}

.animaked-part .buttons .romb-button {
  background-color: #a259ff;
  border-radius: 20px;
  padding: 19px 20px 19px 23px;
}

.animaked-part .buttons {
  margin-right: 90px;
}

.animaked-part .buttons .btn {
  border-radius: 20px;
  padding: 19px 30px 19px 23px;
  border-style: solid;
  border-color: #a259ff;
}

.animaked-part .buttons .btn p {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  color: #ffffff;
}

.animaked-part {
  padding-top: 90px;
  /* gap: 460px; */
  margin-left: 114px;
}

.animaked-part h2 {
  font-weight: 600;
  font-size: 51px;
  line-height: 110%;
  /* or 56px */
  display: flex;
  align-items: center;
  text-transform: capitalize;
  /* White */
  color: #ffffff;
}

.animaked-part .buttons .romb-buuton p {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  color: #ffffff;
}

.statistics {
  gap: 100px;
  margin-left: 119px;
  margin-top: 30px;
}

.statistics h4 {
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  /* or 39px */
  display: flex;
  align-items: center;
  text-transform: capitalize;
  /* White */
  color: #ffffff;
}

.statistics p {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  /* or 35px */
  text-transform: capitalize;
  /* White */
  color: #ffffff;
}

.bio h5 {
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  /* or 35px */
  text-transform: capitalize;
  color: #858584;
}

.bio {
  margin-top: 30px;
  margin-left: 119px;
}

.bio p {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  /* or 35px */
  text-transform: capitalize;
  /* White */
  color: #ffffff;
}

.lincks {
  margin-top: 30px;
  margin-left: 119px;
  padding-bottom: 30px;
}

.lincks p {
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  /* or 35px */
  text-transform: capitalize;
  color: #858584;
}

.lincks .link_all {
  color: #858584;
}

@media screen and (max-width: 768px) {
  .main_section
    .main_container
    .container_row
    .placeholder
    .placeholder_img
    img {
    width: 834px;
    height: 280px;
  }
  .main_section
    .main_container
    .container_row
    .placeholder
    .placeholder_avater {
    top: 210px;
    left: 72px;
  }
  .animaked-part {
    gap: 30px;
    margin-left: 72px;
  }
  .animaked-part .animaked h2 {
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    /* identical to box height, or 46px */
    display: flex;
    align-items: center;
    text-transform: capitalize;
    /* White */
    color: #ffffff;
  }
  .statistics {
    margin-left: 72px;
    gap: 2px;
  }
  .statistics p {
    width: 156px;
  }
  .bio {
    margin-left: 72px;
  }
  .lincks {
    margin-left: 72px;
  }
}

@media screen and (max-width: 480px) {
  .main_section
    .main_container
    .container_row
    .placeholder
    .placeholder_img
    img {
    width: 375px;
    height: 250px;
  }
  .main_section
    .main_container
    .container_row
    .placeholder
    .placeholder_avater {
    top: 56px;
    left: 180px;
    top: 190px;
  }
  .animaked-part {
    gap: 30px;
    margin-left: 30px;
  }
  .animaked-part .animaked h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    /* or 39px */
    display: flex;
    align-items: center;
    text-transform: capitalize;
    /* White */
    color: #ffffff;
  }
  .statistics {
    margin-left: 30px;
    justify-content: center;
    /* gap: 5px; */
  }
  .statistics p {
    width: 126px;
  }
  .bio {
    margin-left: 30px;
  }
  .lincks {
    margin-left: 30px;
  }
}

@media screen and (max-width: 375px) {
  .statistics {
    margin-left: 20px;
    justify-content: center;
    /* gap: 5px; */
  }
  .statistics p {
    width: 100px;
  }
}

/* navbar responsive */
@media screen and (min-width: 350px) and (max-width: 1000px) {
  .home_header .home_nav {
    background-color: #2b2b2b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
  }
  .home_header .home_nav .home_list {
    display: none;
  }
  .home_header .home_nav .hamburger {
    display: block;
    position: relative;
  }
  .home_burger_nav_list {
    display: none;
  }
  .home_header .home_nav .hamburger:hover .home_burger_nav_list {
    display: block;
    position: absolute;
    right: 24px;
  }
  .home_header .home_nav .hamburger:hover .home_burger_nav_list ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px black;
    padding: 10px 15px;
  }
  .home_header .home_nav .hamburger:hover .home_burger_nav_list ul button {
    border: none;
    background: #a259ff;
    border-radius: 20px;
    height: 30px;
    width: 100px;
    color: white;
  }
}
