@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/static/WorkSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/static/WorkSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/static/WorkSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/static/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/static/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/static/WorkSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

body {
  background-color: rgb(238, 231, 231);
}
body .main .container {
  padding: 30px 0px;
}
body .main .container .row {
  min-height: 600px;
}
body .main .container .row .contact_form {
  background: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .main .container .row .contact_form form {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}
body .main .container .row .contact_form form input {
  width: 338px;
  height: 71px;
  border: 1px solid white;
  background: #1e1e1e;
  color: white;
  padding-left: 32px;
}
body .main .container .row .contact_form form input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
body .main .container .row .contact_form .btn {
  width: 67%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
body .main .container .row .contact_form .btn .contact_btn {
  position: absolute;
  bottom: -10px;
  background-color: orangered;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  padding: 7px 17px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
body .main .container .contact_iframe {
  padding: 0;
  width: 100%;
}
body .main .container .contact_iframe iframe {
  width: 100%;
}

@media screen and (min-width: 580px) and (max-width: 768px) {
  .main .container {
    padding: 30px 0px;
  }
  .main .container .row {
    max-width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
  }
  .main .container .row .contact_form {
    background: #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main .container .row .contact_form form {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
  }
  .main .container .row .contact_form form input {
    width: 338px;
    height: 71px;
    border: 1px solid white;
    background: #1e1e1e;
    color: white;
  }
  .main .container .row .contact_form form input::placeholder {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    padding-left: 32px;
    color: #ffffff;
  }
  .main .container .row .contact_form .btn {
    width: 67%;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  .main .container .row .contact_form .btn .contact_btn {
    position: absolute;
    bottom: -10px;
    background-color: orangered;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    padding: 7px 17px;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  .main .container .contact_iframe {
    padding: 0;
    width: 100%;
  }
  .main .container .contact_iframe iframe {
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 579px) {
  .main .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main .container .row {
    max-width: 300px !important;
    height: 600px;
    display: flex;
    flex-direction: column;
  }
  .main .container .row .contact_form {
    background: #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .main .container .row .contact_form form {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
  }
  .main .container .row .contact_form form input {
    width: 100% !important;
    height: 50px !important;
    border: 1px solid white;
    background: #1e1e1e;
    color: white;
  }
  .main .container .row .contact_form form input::placeholder {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    padding-left: 32px;
    color: #ffffff;
  }
  .main .container .row .contact_form .btn {
    width: 100% !important;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  .main .container .row .contact_form .btn .contact_btn {
    position: absolute;
    bottom: -10px;
    background-color: orangered;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    padding: 4px 10px !important;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  .main .container .contact_iframe {
    padding: 0;
    width: 100%;
  }
  .main .container .contact_iframe iframe {
    width: 100%;
  }
}

/*# sourceMappingURL=contact.css.map */
