@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/static/WorkSans-Light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/static/WorkSans-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/static/WorkSans-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/static/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600; }

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/static/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/static/WorkSans-ExtraBold.ttf") format("truetype");
  font-weight: 800; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: "Work Sans", sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px; }

.home_header .home_nav {
  background-color: #2b2b2b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 50px; }
  .home_header .home_nav .home_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 50px;
    column-gap: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .home_header .home_nav .home_list .home_item .home_link {
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      color: #ffffff; }
    .home_header .home_nav .home_list .nav_btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-column-gap: 12px;
      column-gap: 12px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 19px 30px;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      color: #ffffff;
      border-radius: 20px;
      background-color: #a259ff;
      border: none; }
      .home_header .home_nav .home_list .nav_btn img {
        width: 20px;
        height: 20px; }
  .home_header .home_nav .hamburger {
    display: none; }

@media screen and (max-width: 1000px) and (min-width: 375px) {
  .home_header .home_nav {
    background-color: #2b2b2b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 30px; }
    .home_header .home_nav .home_list {
      display: none; }
    .home_header .home_nav .hamburger {
      display: block;
      position: relative; }
      .home_header .home_nav .hamburger .home_burger_nav_list {
        display: none; }
      .home_header .home_nav .hamburger:hover .home_burger_nav_list {
        position: absolute;
        top: 24px;
        right: 24px;
        display: block;
        -webkit-box-shadow: 0px 0px 10px black;
        box-shadow: 0px 0px 10px black;
        background-color: orange;
        width: 120px; }
        .home_header .home_nav .hamburger:hover .home_burger_nav_list ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          row-gap: 10px;
          padding: 10px; }
          .home_header .home_nav .hamburger:hover .home_burger_nav_list ul button {
            padding: 5px 10px;
            background-color: #a259ff;
            color: white;
            border: none;
            border-radius: 15px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center; } }
