@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/static/WorkSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/static/WorkSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/static/WorkSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/static/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/static/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/static/WorkSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

.home_header .home_nav {
  background-color: #2b2b2b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}
.home_header .home_nav .home_list {
  display: flex;
  column-gap: 50px;
  align-items: center;
}
.home_header .home_nav .home_list .home_item .home_link {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}
.home_header .home_nav .home_list .nav_btn {
  display: flex;
  column-gap: 12px;
  align-items: center;
  padding: 19px 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  border-radius: 20px;
  background-color: #a259ff;
  border: none;
}
.home_header .home_nav .home_list .nav_btn img {
  width: 20px;
  height: 20px;
}

.footer__bg {
  background: #3B3B3B;
  padding: 40px 0;
}

.footer {
  gap: 30px;
  line-height: 140%;
  font-weight: 400;
  font-size: 16px;
  color: #CCCCCC;
}
.footer__desc {
  max-width: 233px;
}
.footer__desc h4 {
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
}
.footer__desc p {
  margin-top: 20px;
}
.footer__desc div {
  margin-top: 15px;
  gap: 10px;
}
.footer__desc div i {
  width: 32px;
  height: 32px;
}
.footer__links h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  color: #FFFFFF;
}
.footer__links div {
  margin-top: 25px;
  gap: 20px;
}
.footer__email {
  max-width: 420px;
}
.footer__email h4 {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
}
.footer__email p {
  word-break: break-all;
  margin-top: 20px;
}
.footer__email form {
  margin-top: 20px;
  width: 420px;
  height: 60px;
  border-radius: 20px;
  background-color: #ffffff;
}
.footer__email form input {
  margin: auto 20px;
  border: none;
  outline: none;
  background: none;
  max-width: 100%;
}
.footer__email form button {
  background-color: #a259ff;
  color: #ffffff;
  border-radius: 20px;
  border: 0;
  width: 179px;
  height: 60px;
}
.footer__author p {
  margin-top: 20px;
  font-size: 12px;
  line-height: 110%;
}

@media screen and (max-width: 992px) {
  .footer__links, .footer__email {
    margin-top: 30px;
  }
}
@media screen and (max-width: 576px) {
  .footer {
    padding: 0 30px;
  }
  .footer__email form {
    height: auto;
    width: auto;
    background: none;
    gap: 1rem;
  }
  .footer__email form input {
    background-color: #ffffff;
    margin: 0;
  }
  .footer__email form input,
  .footer__email form button {
    width: 100%;
    height: 46px !important;
    border-radius: 20px;
    padding: 12px 20px;
  }
}

/*# sourceMappingURL=main.css.map */
