.orbitians__container {
    background: #2B2B2B;
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
}

.orbitians_info .deadline_card {
    display: none;
}

.orbitians_info {
    max-width: 605px;
}

.orbitians_main_img {
    width: 100vw;
}

.orbitians__section {
    display: flex;
    padding: 40px 0;
}

.info_title_part h1 {
    font-weight: 600;
    font-size: 51px;
    line-height: 110%;
}

.info_title_part p {
    padding-top: 10px;
    color: #858584;
    font-size: 22px;
    line-height: 35px;
}

.info_author_part,
.info_description_part,
.info_details_part,
.info_tags_part {
    padding-top: 30px;
}

.author_part_title,
.desc_title,
.details_title {
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    color: #858584;
    font-family: 'Space Mono', monospace;
}

.author_name_part {
    padding-top: 10px;
    column-gap: 12px;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
}

.desc__text {
    padding-top: 10px;
    font-size: 22px;
    line-height: 160%;
}

.details_references {
    padding-top: 10px;
    font-size: 22px;
    line-height: 160%;
}

.info_details_link {
    column-gap: 10px;
}

.tags_title {
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    color: #858584;
}

.tags_types {
    padding-top: 20px;
    display: flex;
}

.tags_button {
    padding: 12px 30px;
    background: #3B3B3B;
    border-radius: 20px;
    text-transform: uppercase;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
}

.tags_button:hover {
    text-decoration: underline;
}

.deadline_card {
    font-family: 'Space Mono', monospace;
    padding: 30px;
    width: 295px;
    background: #3B3B3B;
    border-radius: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
}

.digital_clock {
    padding-top: 10px;
    font-weight: 700;
    font-size: 38px;
    line-height: 120%;
}

.digital_clock_texts {
    padding-top: 5px;
}

.deadline_button {
    margin-top: 30px;
    width: 100%;
    padding: 20px;
    background: #A259FF;
    border-radius: 20px;
    border: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.more_from_artist_artist .row_artists .this_artist h3 {
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
    /* identical to box height, or 46px */
    text-transform: capitalize;
    /* White */
    color: #FFFFFF;
}

.row_artists {
    padding: 120px 0 74px 0;
}

.go_to_artist_page {
    border-radius: 20px;
    padding: 13px 36px 13px 38px;
    border-style: solid;
    border-color: #A259FF;
}

.go_to_artist_page h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;
    color: #FFFFFF;
}

.row_artist_card {
    gap: 60px;
    padding-bottom: 80px;
}

.row_artist_card_tablet {
    gap: 60px;
    padding-bottom: 80px;
}

.row_artists_all .card_info {
    padding: 20px 30px;
}

.row_artist_card_tablet {
    display: none!important;
}

.row_artist_card_mobile {
    display: none!important;
}

.card_one {
    background: #3B3B3B;
    border-radius: 20px;
}

.foxy_life h4 {
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    /* identical to box height, or 31px */
    text-transform: capitalize;
    /* White */
    color: #FFFFFF;
}

.orbitian_avatar h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    /* White */
    color: #FFFFFF;
}

.price_highest_bid {
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    /* or 13px */
    color: #858584;
}

.eth163weth {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    /* White */
    color: #FFFFFF;
}

.first_three {
    gap: 30px;
}

@media screen and (max-width: 834px) {
    .row_artist_card {
        display: none!important;
    }
    .row_artist_card_tablet {
        display: block!important;
    }
}

@media screen and (max-width: 375px) {
    .row_artists {
        display: none!important;
    }
    .row_artist_card {
        display: none!important;
    }
    .row_artist_card_tablet {
        display: none!important;
    }
    .row_artist_card_mobile {
        display: flex!important;
        flex-direction: column!important;
        gap: 30px!important;
        padding-bottom: 80px;
    }
    .this_artist {
        text-align: center;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .orbitians_info {
        max-width: 370px;
    }
    .orbitians__section {
        padding: 40px 15px;
    }
    .info_title_part h1 {
        font-size: 38px;
        line-height: 120%;
    }
    .info_title_part p {
        font-size: 16px;
        line-height: 140%;
    }
    .author_part_title,
    .tags_title,
    .author_name_part,
    .desc_title,
    .desc__text,
    .details_title {
        font-weight: 400;
        font-size: 16px;
    }
    .details_references {
        font-size: 16px;
        line-height: 140%;
    }
    .tags_types {
        display: grid;
        padding: 0;
    }
    .tags_button {
        margin-top: 20px;
    }
}

@media screen and (max-width: 480px) {
    .orbitians_info {
        max-width: 100%;
    }
    .orbitians_info .deadline_card {
        display: block;
        margin-top: 20px;
        font-family: 'Space Mono', monospace;
        padding: 30px;
        width: 100%;
        background: #3B3B3B;
        border-radius: 20px;
        font-weight: 400;
        font-size: 12px;
        line-height: 110%;
    }
    .orbitians__section {
        display: block;
        padding: 40px 30px
    }
    .info_title_part h1 {
        font-size: 28px;
        line-height: 140%;
    }
    .info_title_part p {
        font-size: 16px;
        line-height: 140%;
    }
    .info_author_part,
    .info_details_part,
    .info_tags_part {
        padding-top: 20px;
    }
    .author_name_part {
        font-weight: 400;
        font-size: 16px;
    }
    .desc_title,
    .desc__text,
    .author_part_title,
    .details_title,
    .details_references,
    .tags_title,
    .tags_button {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
    }
    .tags_types {
        display: grid;
        padding: 0;
    }
    .tags_button {
        margin-top: 20px;
    }
    .orbitians_deadline {
        display: none;
    }
}