.art__line--before {
    height: 1px;
    background-color: $bg_color-recently;
}

.art__line--after {
    height: 1px;
    background-color: $bg_color;
}

.art__filter--bg {
    background-color: $bg_color;
}

.art__wrapper--bg {
    background-color: $bg_color-recently;
}

.art__pro {
    line-height: 140%;
    .art__filter {
        button {
            transition: .75s;
            position: relative;
            color: #858584;
            height: 70px;
            gap: 16px;
            background: none;
            border: none;
            font-size: 16px;
            span {
                color: #FFFFFF;
                font-size: 16px;
                background: #3B3B3B;
                border-radius: 20px;
                padding: 5px 10px;
            }
        }
        button:hover {
            color: #FFFFFF;
            span {
                background-color: #858584;
            }
        }
        button::after {
            content: "";
            position: absolute;
            top: 97%;
            left: 50%;
            right: 50%;
            height: 3px;
            border-radius: 1.5px;
            width: 0%;
            background-color: #858584;
            transition: .5s;
        }
        button:hover::after {
            left: 0;
            right: 0;
            width: 100%;
        }
    }
    .art__wrapper--card {
        padding: 80px 0;
        gap: 30px;
        .art__card {
            padding: 0;
            width: 330px;
            height: 469px;
            background: #2B2B2B;
            border-radius: 20px;
            color: #FFFFFF;
            .art__img--card {
                max-width: 100%;
            }
            .art__card--content {
                padding: 20px 30px 26px 30px;
                h4 {
                    font-weight: 600;
                    font-size: 22px;
                }
                .art__author {
                    gap: 12px;
                    margin-top: 5px;
                    font-size: 16px;
                    img {
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                    }
                }
                .art__desc {
                    margin-top: 25px;
                    font-size: 12px;
                    line-height: 110%;
                    color: #858584;
                }
                .art__price {
                    margin-top: 8px;
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .art__pro {
        .art__filter {
            padding: 0 30px;
            button span {
                display: none;
            }
        }
        .art__wrapper--card {
            padding: 80px 30px;
        }
    }
}